h1 { color:white; font-size: 60px 
}
h2 {  colour:white; font-size: 100px
}
#about { background: #ffffcc}
h3 {colour:grey; font-size:80px 
}

body {
  background: #ff6666;
  font-size: 20px;
}

.container {
  margin: 20px;
  padding: 20px;
}

.small-container {
  min-height: 20vh;
  padding-top: 30vh;
  text-align: center;
  list-style-position: inside;
  background: #ff6666;
}

#navbar {
  position: fixed;
  width: 90vw;
}

#navbar .nav-links {
  text-align: right;
}

#navbar .nav-buttons {
  text-decoration: none;
  color: white;
  margin: 10px;
}

#navbar .nav-buttons:hover {
  color: white;
}

#contact input, textarea {
  padding: 20px;
  margin: 15px auto;
  font-size: 18px;
  border: none;
}

#contact .same-row {
  display: block;
}

#contact input[type="submit"] {
  background-color: ;
#ff6666}
